<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Project_01_ConstructionERP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.project01.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>empReg</display-name>
    <servlet-name>empReg</servlet-name>
    <servlet-class>com.project01.empReg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>empReg</servlet-name>
    <url-pattern>/empReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dptReg</display-name>
    <servlet-name>dptReg</servlet-name>
    <servlet-class>com.project01.dptReg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dptReg</servlet-name>
    <url-pattern>/dptReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectReg</display-name>
    <servlet-name>ProjectReg</servlet-name>
    <servlet-class>com.project01.ProjectReg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectReg</servlet-name>
    <url-pattern>/ProjectReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>architectAdd</display-name>
    <servlet-name>architectAdd</servlet-name>
    <servlet-class>com.project01.architectAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>architectAdd</servlet-name>
    <url-pattern>/architectAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginDpt</display-name>
    <servlet-name>LoginDpt</servlet-name>
    <servlet-class>com.project01.LoginDpt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginDpt</servlet-name>
    <url-pattern>/LoginDpt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginArchi</display-name>
    <servlet-name>LoginArchi</servlet-name>
    <servlet-class>com.project01.LoginArchi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginArchi</servlet-name>
    <url-pattern>/LoginArchi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editProject</display-name>
    <servlet-name>editProject</servlet-name>
    <servlet-class>com.project01.editProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editProject</servlet-name>
    <url-pattern>/editProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminComment</display-name>
    <servlet-name>AdminComment</servlet-name>
    <servlet-class>com.project01.AdminComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminComment</servlet-name>
    <url-pattern>/AdminComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddImg</display-name>
    <servlet-name>AddImg</servlet-name>
    <servlet-class>com.project01.AddImg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddImg</servlet-name>
    <url-pattern>/AddImg</url-pattern>
  </servlet-mapping>
</web-app>