<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Project_03_CNGBooking</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegPump</display-name>
    <servlet-name>RegPump</servlet-name>
    <servlet-class>CNG.RegPump</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegPump</servlet-name>
    <url-pattern>/RegPump</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PumpLogin</display-name>
    <servlet-name>PumpLogin</servlet-name>
    <servlet-class>CNG.PumpLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PumpLogin</servlet-name>
    <url-pattern>/PumpLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>CNG.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegUser</display-name>
    <servlet-name>RegUser</servlet-name>
    <servlet-class>CNG.RegUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegUser</servlet-name>
    <url-pattern>/RegUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginUser</display-name>
    <servlet-name>LoginUser</servlet-name>
    <servlet-class>CNG.LoginUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUser</servlet-name>
    <url-pattern>/LoginUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cngUpdate</display-name>
    <servlet-name>cngUpdate</servlet-name>
    <servlet-class>CNG.cngUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cngUpdate</servlet-name>
    <url-pattern>/cngUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cngBuy</display-name>
    <servlet-name>cngBuy</servlet-name>
    <servlet-class>CNG.cngBuy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cngBuy</servlet-name>
    <url-pattern>/cngBuy</url-pattern>
  </servlet-mapping>
</web-app>